@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

.achievementDiv {
  margin-top: 20px;  
}

.achievementHeading {
  font-size: 30px; 
  font-weight: bold; 
}
.centertext {
  /*margin-right: 200px;*/
  text-align: center;
}
.bankbalances {
  font-size: 18px;
}

.banklist {
  list-style-type: none;
}

.bigquick {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 200%;
}

.profilepadding {
  padding-bottom: 100px;
}

.darkgreenjumbo {
  padding: 5%;
  height: 50vh;
  background-color: seagreen;
}

.darkgreenback {
  background-color: seagreen;
}

.dashboardjumbo {
  padding-top: 5%;
  height: 33vh;
}

.dashboardone {
  margin-top: -3%;
  background-color: #00CDB4; 
}

.dashboardone:hover {
  background-color: #37F3A8;
}

.dashboardtwo {
  background-color: #00B9B9;
}

.dashboardtwo:hover {
  background-color: #37F3A8
}

.dashboardthree {
  background-color: #00A0C3;  
}

.dashboardthree:hover {
  background-color: #01EFAD;
}

.dashboardfour {
  background-color: #2273AA; 
}

.dashboardfour:hover {
  background-color: #01EFAD;
}
.dashboardtext {
  text-align: center;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 10vmin;
}

.error-message {
  color: red;
}

.explainerdiv {
  padding: 2%; 
  height: 50vh; 
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.greenback {
  background-color: #37F3A8;
  padding-top: 7%;
}

.green {
  background-color: #37F3A8;
}

.greennav {
  padding-top: 10px;
  height: 80px;
  background-color: #9CF3C9;
}

.hamburger {
  padding-right: 30px; 
  font-size: 30px; 
  color: white; 
  background-color: #9CF3C9;
}
.helvetica {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 25px;
}

.headline {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 400%;
}

.inputmargin {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.inputsize {
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  width: 40%;
  height: 60px;
  font-size: 130%;
}

.goal-inputsize {
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  width: 30%;
  height: 60px;
  font-size: 130%;
}

.limit-inputsize {
  font-family: 'Quicksand', 'sans-serif';
  opacity: 0.5;
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 5px;
  width: 15%;
  height: 30px;
  font-size: 130%;
}

.introdiv {
  height: 30vh;
  -webkit-box-shadow: 10px 15px 30px 10px rgba(0,0,0,0.16);
  -moz-box-shadow: 10px 15px 30px 10px rgba(0,0,0,0.16);
   box-shadow: 10px 15px 30px 10px rgba(0,0,0,0.16);    
}


.lightgreenjumbo{
  padding-top: 200px;
  text-align: center;
  height: 100vh;
  background-color: #9CF3C9;
  overflow: scroll;
}

.logo {
  color: white;
  font-size: 40px;
  font-family: 'Pacifico', 'cursive'; 
}

.moneyjumbo {
  height: 100vh;
  background-image: url('../assets/pencil_money.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center;
}


.navchoice {
  font-size: 25px;
  font-family: 'Quicksand', 'sans-serif';
}
.navbar-nav > li{
  font-size: 25px;
  font-family: 'Quicksand', 'sans-serif';
  padding-left:30px;
  padding-right:30px;
}
.navbar {
  border: 0;
}

.profileinput {
  width: 75%;
  height: 10%;
}

.navBar {
  margin-bottom: -10px;
}

.quicksand {
  font-family: 'Quicksand', 'sans-serif';
}

.relative {
  position: relative;
}
.topmargin {
  margin-top: 100px;
}

.white {
  background-color: white;
  padding-top: 7%;
  }

.whiteback {
    background-color: white;
  }

  .twentyheight {
    height: 20%;
  }

.submitbutton {
  font-family: 'Quicksand', 'sans-serif';
  margin-left: 10px;
  height: 60px;
  width: 120px;
}

.whitenav {
  padding-top: 10px;
  height: 80px;
  background-color: white;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.chartimg {
  height: 40%; 
  background-image: url('../assets/laptop.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center; 
}

.medalimg {
  height: 40%; 
  background-image: url('../assets/medal.png'); 
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center; 
}

.creditimg {
  height: 40%; 
  background-image: url('../assets/credit-card-1.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center; 
}