@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

.centertext {
  /*margin-right: 200px;*/
  text-align: center;
}

.darkgreenjumbo {
  padding: 5%;
  height: 50vh;
  background-color: seagreen;
}

.darkgreenback {
  background-color: seagreen;
    padding-top: 7%;
}

.dashboardjumbo {
  padding-top: 5%;
  height: 33vh;
}

.dashboardone {
  margin-top: -3%;
  background-color: #00B9B9;
}

.dashboardone:hover {
  background-color: #37F3A8;
}

.dashboardtwo {
  background-color: #00CDB4;
}

.dashboardtwo:hover {
  background-color: #37F3A8
}

.dashboardthree {
  background-color: #00DFAE;
}

.dashboardthree:hover {
  background-color: #01EFAD;
}

.dashboardtext {
  text-align: center;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 10vmin;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}
.greenback {
  background-color: #37F3A8;
  padding-top: 7%;
}

.green {
  background-color: #37F3A8;
}

.greennav {
  padding-top: 10px;
  height: 80px;
  background-color: #9CF3C9;
}

.whitenav {
  padding-top: 10px;
  height: 80px;
  background-color: white;
}

.inputsize {
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  width: 500px;
  height: 60px;
  font-size: 25px;
}


.inputmargin {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.lightgreenjumbo{
  padding-top: 200px;
  text-align: center;
  height: 100vh;
  background-color: #9CF3C9;
}

.logo {
  color: white;
  font-size: 40px;
  font-family: 'Pacifico', 'cursive'; 
}

.moneyjumbo {
  height: 100vh;
  background-image: url('../assets/pencil_money.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.littlemoney {
  height: 33.3vh;
  background-image: url('../assets/stacks.png');
  background-repeat: no-repeat;
  background-position: center center;  
}

.navchoice {
  font-size: 25px;
  font-family: 'Quicksand', 'sans-serif';
}

.navBar {
  margin-bottom: -10px;
}

.quicksand {
  font-family: 'Quicksand', 'sans-serif';
}
.bigquick {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 60px;
}
.topmargin {
  margin-top: 100px;
}

.white {
  background-color: white;
  padding-top: 7%;
  }

.submitbutton {
  font-family: 'Quicksand', 'sans-serif';
  margin-left: 10px;
  height: 60px;
  width: 120px;
}

.relative {
  position: relative;
}

.error-message {
  color: red;
}



