@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

.logo {
  font-size: 40px;
  font-family: 'Pacifico', 'cursive';
}

.quicksand {
  font-family: 'Quicksand', 'sans-serif';
}

.navchoice {
  font-size: 25px;
  font-family: 'Quicksand', 'sans-serif';
}
.centertext {
  /*margin-right: 200px;*/
  text-align: center;
}

.darkgreenjumbo {
  padding: 5%;
  height: 50vh;
  background-color: seagreen;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}
.green {
  background-color: #37F3A8
}

.greennav {
  padding-top: 10px;
  height: 80px;
  background-color: #9CF3C9;
}

.inputsize {
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  width: 500px;
  height: 60px;
}


.inputmargin {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.lightgreenjumbo{
  padding-top: 200px;
  text-align: center;
  height: 100vh;
  background-color: #9CF3C9;
}

.moneyjumbo {
  height: 100vh;
  background-image: url('../assets/pencil_money.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.topmargin {
  margin-top: 100px;
}

.white {
  background-color: white;
  }

.submitbutton {
  font-family: 'Quicksand', 'sans-serif';
  margin-left: 10px;
  height: 60px;
  width: 120px;
}

.error-message {
  color: red;
}



